body{
    background-image: url(http://getwallpapers.com/wallpaper/full/4/7/d/693803-best-good-background-picture-2816x1760-for-retina.jpg);
    text-align: center;
    color: #fff;
}
h1{
    font-size: 70px;
    padding-top: 0px;
    margin: 0px;
}
p{
    font-size: 15px;
}
.color{
    color: #fff;
}
li{
    text-align: left;
}
ul{
    position: fixed;
}
.button{
    display: inline-block;
    background-color: rgb(0, 40, 75);
    border-radius: 5px;
    border: 4px double rgb(0, 40, 75);
    color: #FFF;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    width: 55px;
    transition: all o.5s;
    cursor: pointer;
    margin: 1px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
    button:hover {
    background-color: #92ddff;
    }
    button:hover span {
    padding-right: 25px;
    }
    button:hover span:after {
    opacity: 1;
    right: 0;
    }
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
    }
.right{
    text-align: right;
}
.video {
    text-align: right !important
}
.padding-right {
    padding-right: 200px;
}
.padding-top {
    padding-top: 20px;
}
.left {
    text-align: left;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.picsize{
    width: 322px;
    height: 181px;
}
.button2{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(25, 0, 255);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}